{% block body %}
	{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

	<div class="flex flex-col">
		{{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'font-semibold text-gray-700'}}) }}
		{{ form_widget(form.firstname, {'attr': {'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-300 focus:ring focus:ring-gray-200 focus:ring-opacity-50'}}) }}
	</div>

	<div class="flex flex-col">
		{{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'font-semibold text-gray-700'}}) }}
		{{ form_widget(form.lastname, {'attr': {'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-300 focus:ring focus:ring-gray-200 focus:ring-opacity-50'}}) }}
	</div>

	<div class="flex flex-col">
		{{ form_label(form.email, 'Email', {'label_attr': {'class': 'font-semibold text-gray-700'}}) }}
		{{ form_widget(form.email, {'attr': {'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-300 focus:ring focus:ring-gray-200 focus:ring-opacity-50'}}) }}
		{% for error in form.email.vars.errors %}
			<div class="text-red-500">{{ error.message }}</div>
		{% endfor %}
	</div>

	<div class="flex flex-col">
		{{ form_label(form.gender, 'Genre', {'label_attr': {'class': 'font-semibold text-gray-700'}}) }}
		{{ form_widget(form.gender, {'attr': {'class': 'mt-1'}}) }}
	</div>

	<div class="flex flex-col">
		{{ form_label(form.password.first, 'Mot de passe', {'label_attr': {'class': 'font-semibold text-gray-700'}}) }}
		{{ form_widget(form.password.first, {'attr': {'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-300 focus:ring focus:ring-gray-200 focus:ring-opacity-50'}}) }}
		{{ form_label(form.password.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'font-semibold text-gray-700 mt-4'}}) }}
		{{ form_widget(form.password.second, {'attr': {'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-300 focus:ring focus:ring-gray-200 focus:ring-opacity-50'}}) }}
		{% for error in form.password.first.vars.errors %}
			<div class="text-red-500">{{ error.message }}</div>
		{% endfor %}
	</div>

	<div class="flex items-center mt-4">
		{{ form_widget(form.rgpd, {'attr': {'class': 'h-4 w-4 text-gray-600 transition duration-150 ease-in-out'}}) }}
		{{ form_label(form.rgpd, 'Accepter les conditions générales', {'label_attr': {'class': 'ml-2 block text-sm leading-5 text-gray-900'}}) }}
		{% for error in form.rgpd.vars.errors %}
			<div class="text-red-500">{{ error.message }}</div>
		{% endfor %}
	</div>

	<button type="submit" class="flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
		Enregistrer
	</button>
	{{ form_end(form) }}

{% endblock %}
